{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Kronika rodzinna{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
</head>
<body>

<header class="navbar">
    <div class="navbar-inner">
        <div class="navbar-left">
            <h1 class="logo">
                <a href="{% url 'entry_list' %}">Kronika rodzinna</a>
            </h1>
        </div>

        <nav class="navbar-right">
            <a href="{% url 'entry_list' %}">Wydarzenia</a>
            <a href="{% url 'category_list' %}">Kategorie</a>
            <a class="btn-primary" href="{% url 'admin:index' %}">Zaloguj się</a>
        </nav>
    </div>
</header>

<main class="page-content">
    {% block content %}
    {% endblock %}
</main>

</body>

</html>